@charset "utf-8";
/* CSS Document */

body {
    padding-top: 50px;
    padding-left: 15%;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main {
    margin-top: 0;
}